pipeline/array.json
{
	"name": "array",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.array",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append",
								"value": {
									"value": "@variables('var')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dynamiccsv",
									"type": "DatasetReference",
									"parameters": {
										"container": "foreach",
										"file": {
											"value": "@variables('var')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_server",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "cus",
										"server": "trainingoct17.database.windows.net",
										"database": "rohini",
										"username": "rohini",
										"password": "Vijaya@123"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"array": {
				"type": "array",
				"defaultValue": [
					"Cus1.csv",
					"Cus2.csv",
					"cus3.csv"
				]
			}
		},
		"variables": {
			"value": {
				"type": "String"
			},
			"append": {
				"type": "Array"
			},
			"append2": {
				"type": "Array"
			},
			"var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-29T02:40:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}