pipeline/cus_dbtable_db.json
{
	"name": "cus_dbtable_db",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_server",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "cuscopy",
							"server": "trainingoct17.database.windows.net",
							"database": "rohini",
							"username": "rohini",
							"password": "Vijaya@123"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dynamiccsv",
									"type": "DatasetReference",
									"parameters": {
										"container": "foreach",
										"file": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_server",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "cus",
										"server": "trainingoct17.database.windows.net",
										"database": "rohini",
										"username": "rohini",
										"password": "Vijaya@123"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"val": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-29T03:39:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}