pipeline/foreach_activities.json
{
	"name": "foreach_activities",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_server",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "copytables2",
							"server": "trainingoct17.database.windows.net",
							"database": "rohini1",
							"username": "rohini",
							"password": "Vijaya@123"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dynamic_server",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"server": "trainingoct17.database.windows.net",
										"database": "rohini",
										"username": "rohini",
										"password": "Vijaya@123"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_server",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "@item().tablename",
										"server": "trainingoct17.database.windows.net",
										"database": "rohini1",
										"username": "rohini",
										"password": "Vijaya@123"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "value",
								"value": {
									"value": "@item().tablename",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_server",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "copytables",
							"server": "trainingoct17.database.windows.net",
							"database": "rohini",
							"username": "rohini",
							"password": "Vijaya@123"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "append",
					"value": {
						"value": "@add(activity('Lookup1').output,activity('Lookup1_copy1').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"value2": {
				"type": "Array"
			},
			"value": {
				"type": "String"
			},
			"append": {
				"type": "Array"
			},
			"append2": {
				"type": "Array"
			},
			"var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-29T03:07:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}