pipeline/foreach_set_append.json
{
	"name": "foreach_set_append",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.foreach",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "appendvariable",
								"value": {
									"value": "@variables('var')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "appendvar2",
								"value": {
									"value": "@variables('appendvariable')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"foreach": {
				"type": "array",
				"defaultValue": [
					"roh",
					"kav",
					"amm"
				]
			}
		},
		"variables": {
			"var": {
				"type": "String"
			},
			"appendvariable": {
				"type": "Array"
			},
			"appendvar2": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-26T20:06:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}