pipeline/variables_practice.json
{
	"name": "variables_practice",
	"properties": {
		"description": "Task2:- Create and set a variable value as ID based on the Max transaction date from iftable_output       ",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TrxnDate from IfTable_output",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_server",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "IfTable_output",
							"server": "trainingoct17.database.windows.net",
							"database": "rohini",
							"username": "rohini",
							"password": "Vijaya@123"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "str",
								"value": {
									"value": "@item().TrxnDate",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable2",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": {
									"value": "@variables('str')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var2",
								"value": {
									"value": "@variables('var')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"var": {
				"type": "Array"
			},
			"var2": {
				"type": "Array"
			},
			"str": {
				"type": "String"
			},
			"int": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-30T23:12:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}